
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg, #d41e31, #491f8f);
}

.card img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: 0.5s;
}

.card:hover img {
    left: 80%;
    height: 500px;
}

.card .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px, 20px, 20px, 40px;
    margin: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card:hover .content {
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
}

.card .content p {
    color: #fff;
}

.card .content a {
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    text-decoration: none;
}


/* Desing maximo 425px */
@media (max-width: 425px){
    
    .card .content {
        padding: 30px;
    }

    .card:hover img {
        height: 100px;
    }
}


/* Desing maximo 768px */
@media (max-width: 768px){
    
    .card {
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
    }

    .card:hover {
        height: 600px;
    }

    .card:hover img {
        left: 50%;
        height: 350px;
    }


    .card .content {
        width: 100%;
        left: 0;
        padding: 40px;
    }

}