


.div {
    background-color: lightpink;
    height: 100px;
}

.btn-cancelar {
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: lightsalmon;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.btn-guardar {
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: #fff;
    outline: none;
    cursor: pointer;
}